<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>jitterbug</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <script type="text/javascript">
      $(document).ready(function() {
        $('.builds a').click(function() {
          var url = $(this).attr("href");
          var id = $(this).parents('.commit').attr('id');
          console.log("id => " + id);
          $.getJSON(url, null, function(data) {
            $("#result-" + id).html("<pre>" + data.content + "<pre>");
          });
          return false;
      })})
    </script>
  </head>
  <body>
    <: $content :>
    <footer>
      Powered by <a href="http://perldancer.org/">Dancer</a> 1.1810
    </footer>
  </body>
</html>
