<h2>Dashboard</h2>

<h3>Projects</h3>

<ul>
  : for $projects -> $project {
  <li><a href="<: $uri_base :>project/<: $project :>"><: $project :></a></li>
  : }
</ul>

<h3>Builds pending</h3>

<ul>
  : for $builds -> $build {
  <li><a href="<: $uri_base :>task/<: $build :>"><: $build :></a></li>
  : }
</ul>
