
body {
font:13px helvetica,arial,freesans,clean,sans-serif;
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color:#eaeaea;
background-position: top left;
color: #333;
}

h1 {
font-size: 28px;
color: #000;
}

a{color:#4183c4;text-decoration:none;}
a:hover{text-decoration:underline;}

#page {
background-color:#eaeaea;
width: 80%;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
   margin-top: 30px;
background-color: white;
border: 3px solid #000;
padding: 25px;
width: 90%;
}

#sidebar {
float: right;
width: 175px;
}

#header, #about, #getting-started {
padding-left: 75px;
padding-right: 30px;
}


#header {
background-image: url("/images/perldancer.jpg"); 
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}


#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -11px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}


#getting-started {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#getting-started h1 {
margin: 0;
font-size: 20px;
}
#getting-started h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#getting-started ol {
margin-left: 0;
padding-left: 0;
}
#getting-started li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#getting-started li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#getting-started li p {
color: #555;
font-size: 13px;
}


#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}


#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}


h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}

pre {
font-family: \"lucida console\",\"monaco\",\"andale mono\",\"bitstream vera sans mono\",\"consolas\",monospace;
}

.commit{
border:1px solid #bedce7;
margin-top:.5em;
padding:0 .5em .5em .5em;
background:#eaf2f5;
overflow:hidden;
font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.display_test_result {
font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
background: black;
color: white;
overflow: hidden;
}

.project_baseline {font-size: 110%; margin-top: 3em;margin-bottom: 2.5em;margin-left:1.1em;}

.commit .description {
float: left;
}

.commit .git {
float: right;
}

.git {
width:23em;padding:.8em 0 .8em 1.2em;border-left:1px solid #bedce7;color:#808080;;font-size:.85em;line-height:1.5em;
}

.message {
font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;   
}
.message pre{white-space:pre-wrap;word-wrap:break-word;width:40em;}

.commit .builds span {font-size:110%;font-weight: bolder;}
.commit .builds span.PASS{color:green}
.commit .builds span.FAIL{color:red}

.repo{border:1px solid #d8d8d8;background-color:#f0f0f0;margin:0;margin:0 0 10px 0;padding:8px 10px 0 10px;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.repo h3{margin:0;font-size:14px;white-space:nowrap;}
.repo p.desc{margin:0 0 3px 0;font-size:12px;color:#444;}
.repo p.updated-at{margin:0;font-size:11px;color:#888;}

.comming-builds{border:1px solid #d8d8d8;background-color:#f0f0f0}
.running-build{border:1px solid #d8d8d8;background-color:#f0f0f0}

.commit .name{float:left; width: 100%;}
.commit .name .date{color:#888;font-size:90%;}
.commit .name .author{font-weight: bolder;line-height:2em}
.commit .gravatar{border:1px solid #d0d0d0;padding:2px;background-color:white;float:left;margin-right:.7em;}

.columns .first{float:left;width:450px;}
.columns .last{float:right;width:300px;}
