@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular);
body {
   background-color: #bfbfbf;
   color: #222;
   line-height: 1.4em;          
   font-family: 'Droid Sans',Verdana, sans-serif;
   text-align: center;
   font-size: 13px;
}
#container {
   background: #ffffff;
   border-style: solid;
   border-width: 5px;
   padding: 1em;
   font-size: 110%;
   text-align: justify;
   width: 55em;
   margin: 3em auto 2em auto;
   line-height: 1.5em;
   -webkit-box-shadow: 10px 10px 10px #262526; -moz-box-shadow: 10px 10px 10px #262526;  box-shadow: 10px 10px 10px #262526;
   -moz-border-radius:5px;-webkit-border-radius:5px;
}
h1 { font-size: 3.8em; color: #3e9ab7; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #3e9ab7; }
h3 { font-size: 1.2em; color: #3e9ab7; }
a { color: #3e9ab7; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic;}
.code {background: #f0f0f0; color: eee; padding: 15px; }
